<div 
id="lead-container" 
cdkDropListOrientation="horizontal" 
cdkDropListGroup 
cdkDropList 
class="example-list"    
(cdkDropListDropped)="drop($event)">

    @for( pipe of pipeline; track pipe) {
    <div class="example-container" cdkDrag>
        <div class="lead-header">
            <h2 [matTooltipPosition]="'above'" matTooltip={{pipe.title}}>{{pipe.title}}</h2>
        </div>

        <div cdkDropList [cdkDropListData]="pipe.type" class="example-list">
            <div class="lead-status" cdkDrag>{{pipe.title}}</div>
        </div>


    </div>
    }

</div>