#add-user-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

table {
    border-collapse: collapse;
    tr:first-child {
        border-bottom: rgba(0, 0, 0, 0.25) 2px solid;
        border-top: 0px solid transparent;
       &:hover{
           background-color: unset;
           cursor:unset;
        } 
    }
    tr {
        border-top: rgba(0, 0, 0, 0.25) 1px solid;
        height: 3rem;

        &:hover{
            background-color: rgba(0, 0, 0, 0.05);
            cursor: pointer;
        }
    }

    tr {
        th{
            color:rgba(0, 0, 0, 0.35)
        }
        th,td {
            text-align: start;
        }
        th:first-child,td:first-child {
            padding-left: 1rem;
        }
        th:last-child,td:last-child {
            padding-right: 1rem;
            width: 20%;
        }
    }
}

#test-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    border:5px solid red;
    font-weight: bold;
}

#test-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    background-color: red;
    color:white;
    font-weight: bold;
}