.fc {
    font-family: Arial, sans-serif;
  }
  
  .fc-header-toolbar {
    background-color: #c42525; /* Hintergrundfarbe der Toolbar */
    color: #35a169; /* Textfarbe der Toolbar */
  }
  
  .fc-h-event {
    background-color: #ffcc00; /* Hintergrundfarbe des Ereignisses */
    border-color: #ffcc00; /* Randfarbe des Ereignisses */
    color: #333; /* Textfarbe des Ereignisses */
  }

