<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content>
    <div>
        <mat-form-field class="user-form-field" appearance="outline">
            <mat-label>First Name</mat-label>
            <input [disabled]="isLoading" [(ngModel)]="user.firstName" matInput >
        </mat-form-field>
        <mat-form-field class="user-form-field" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input [disabled]="isLoading" [(ngModel)]="user.lastName" matInput >
        </mat-form-field>
    </div>
    <mat-form-field class="user-form-field w-100" appearance="outline">
        <mat-label>Email</mat-label>
        <input [disabled]="isLoading" [(ngModel)]="user.email" matInput >
    </mat-form-field>
    <div>
        <mat-form-field appearance="outline" class="user-form-field w-100">
            <mat-label>Date of birth</mat-label>
            <input [disabled]="isLoading" [(ngModel)]="birthDate" matInput [matDatepicker]="datepicker" placeholder="">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="user-form-field w-100" appearance="outline">
            <mat-label>Adress</mat-label>
            <input [disabled]="isLoading" [(ngModel)]="user.street" matInput >
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="user-form-field" appearance="outline">
            <mat-label>Zip code</mat-label>
            <input [disabled]="isLoading" [(ngModel)]="user.zipCode" matInput >
        </mat-form-field>
        <mat-form-field class="user-form-field" appearance="outline">
            <mat-label>City</mat-label>
            <input [disabled]="isLoading" matInput [(ngModel)]="user.city" >
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button [disabled]="isLoading" (click)="dialogRef.close()" mat-button>No Thanks</button>
    <button [disabled]="isLoading" mat-button cdkFocusInitial (click)="saveUser()">Ok</button>
</mat-dialog-actions>