/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
margin:0 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fc {
    font-family: Arial, sans-serif;
  }
  
  .fc-header-toolbar {
    background-color: #c42525; /* Hintergrundfarbe der Toolbar */
    color: #35a169; /* Textfarbe der Toolbar */
  }
  
  .fc-h-event {
    background-color: #ffcc00; /* Hintergrundfarbe des Ereignisses */
    border-color: #ffcc00; /* Randfarbe des Ereignisses */
    color: #333; /* Textfarbe des Ereignisses */
  }

  